
.bd6{
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 27px 32px 0 30px;
  top: 0;
  z-index: 10000;
  position: fixed;
  visibility: hidden;
}
.bd61{
  align-items: flex-start;
  align-self: flex-start;
  color: black;
  display: flex;
  flex-direction: column;
  font-size: 32px;
  font-weight: 600;
  line-height: 62%;
  margin-top: 42px;
  position: relative;
  text-decoration: none;
}
.bd61>:not(:last-child) {
  margin-bottom: 40px;
}
.bd61 a{
  color: inherit;
  text-decoration: none;
}
.hop-menu{
    display: none; 
} 
.bd61{
  color: rgb(0, 0, 0);
}
.bd61 a:hover{
  color:rgb(255, 208, 0);
  opacity: 1;
  transform: scale(1.2);
}
.hop_bar{
  cursor: pointer;
  font-size: 30px;
  color: rgb(10, 132, 239);
}
.bar{
  width: 100%;
}
 

